:root {
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  --blue: hsl(248, 32%, 49%);
  --dark-blue: hsl(249, 10%, 26%);
  --opaque-dark-blue: hsla(249, 10%, 26%, 0.3);
  --grayish-blue: hsl(246, 25%, 77%);
  --white: hsl(0, 0%, 100%);
  --font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  width: 100%;
  font-family: "Poppins", sans-serif;
  color: var(--white);
  background-image: url(/assets/images/bg-intro-desktop.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: var(--red);
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 1.875rem;
  max-width: 1112px;
  padding: 2rem;
}

.left-section {
  width: 50%;
  height: 100%;
  align-self: center;
}

.left-section h2 {
  padding: 0rem;
  margin-bottom: 1.875rem;
  font-weight: 700;
  font-size: calc(3.063 * var(--font-size));
  line-height: 3.5rem;
}

.left-section p {
  padding: 0rem;
  line-height: 1.6rem;
}

.right-section {
  width: 50%;
  height: 100%;
}

.form-promo {
  background-color: var(--blue);
  padding: 1rem 2rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  box-shadow: 0px 8px 0px var(--opaque-dark-blue);
}

.form-promo p {
  font-weight: 400;
  font-size: calc(0.9 * var(--font-size));
  text-align: center;
}

.form-promo p span {
  font-weight: 600;
}

form {
  background-color: var(--white);
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0px 8px 0px var(--opaque-dark-blue);
}

.input-group {
  margin-bottom: 1rem;
  position: relative;
}

.input-text {
  width: 100%;
  padding: 1rem;
  color: var(--dark-blue);
  border-radius: 5px;
  border: 1px solid var(--grayish-blue);
  font-size: calc(0.9 * var(--font-size));
  font-weight: 700;
}

.input-text:focus {
  border: 2px solid var(--blue);
  outline: none;
  caret-color: var(--blue);
}

.error-icon {
  display: none;
  position: absolute;
  top: 0.8rem;
  right: 1.5rem;
}

.error-message {
  display: none;
  text-align: right;
  color: var(--red);
  font-size: calc(0.75 * var(--font-size));
  font-weight: 500;
  font-style: italic;
}

#submit {
  width: 100%;
  padding: 1rem;
  border: none;
  cursor: pointer;
  background-color: var(--green);
  color: var(--white);
  font-weight: 500;
  font-size: calc(0.9 * var(--font-size));
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  border-radius: 5px;
  box-shadow: inset 0px -2px 0px var(--opaque-dark-blue);
}

#submit:hover {
  opacity: 0.6;
}

#submit:active {
  opacity: 0.8;
}

.form-disclaimer {
  width: 90%;
  margin: 1rem auto 0;
  color: var(--grayish-blue);
  font-size: calc(0.75 * var(--font-size));
  text-align: center;
}

.form-disclaimer a {
  font-weight: 600;
  color: var(--red);
  text-decoration: none;
}

/* Laptop */
@media screen and (max-width: 768px) {
  .left-section h2 {
    font-size: calc(2.5 * var(--font-size));
  }
}

@media screen and (max-width: 750px) {
  .container {
    height: 100vh;
    margin: 6.25rem 0 3.75rem 0;
    gap: 0.25rem;
    flex-direction: column;
  }
  .left-section {
    width: 100%;
    padding: 1.5rem;
    text-align: center;
  }
  .left-section h2 {
    font-size: 1.7rem;
    line-height: 2.5rem;
  }
  .right-section {
    width: 100%;
    padding: 1.5rem;
  }

/* Mobile */
@media screen and (max-width: 480px) {
  body {
    background-image: url("/assets/images/bg-intro-mobile.png");
    background-color: var(--red);
    min-height: 100vh;
    height: 100%;
    width: 100%;
    position: relative;
  }
  .container {
    padding: 0;
  }
  .form-promo {
    padding: 1rem 4rem;
    margin-bottom: 1.5rem;
  }
  form {
    padding: 1.5rem;
  }
  .form-disclaimer {
    text-align: center;
    font-size: 0.7rem;
  }
}
